<form action = "classifierpage">
	   <b>Naive Bayes Gender Classifier</b>
	   <br>
	   Please enter height:
       <input type="text" name="height_field">
       <br>
       Please enter weight:
       <input type="text" name="weight_field">
       <br>
       <input type="submit"/>
</form>