<form action = "classifier/classifierpage">
	   <h2>Naive Bayes Gender Classifier</h2>
	   Please enter height:
       <input type="number" name="height">
       <br>
       Please enter weight:
       <input type="number" name="weight">
       <br>
       <button type="submit">Classify Me!</button>
</form>
</br>
<p id="notice"><%= notice %></p>

