<form action = "classifierpage">
	   <b>Naive Bayes Gender Classifier</b>
	   <br>
	   Please enter height:
       <input type="number" name="height">
       <br>
       Please enter weight:
       <input type="number" name="weight">
       <br>
       <input type="submit"/>
</form>