<html>
  <body>
    <div id="main-container" class="container">
      <center><h1>Welcome to the Naives Baye Sex Classifier</h1></center>
      <p></p>
      <p>The Naives Bayes Sex Classifier is based on the Bayesian Theorem.
      You can read more about the classifier 
      <a href="http://en.wikipedia.org/wiki/Naive_Bayes_classifier">here</a>
        In order to start, our training set must contain at least 2 males and 2 females people.   
    </div>
  </body>
</html>
