<center>
<h1>Welcome to the Naives Baye Sex Classifier</h1>

</br>
<p>The Naives Bayes Sex Classifier is based on the Bayesian Theorem. You can read more about the classifier <%= link_to "here", 'http://en.wikipedia.org/wiki/Naive_Bayes_classifier' %></p>

<p>In order to start, our training set must contain at least 2 males and 2 females people.</p>

<p>We have also assumed that all numerical inputs will be integers</p>
</center>