<html>
  <body>
    <div id="main-container" class="container">
      <div class="row">
        <div id="sidebar" class="col-xs-3">
          <!-- sidebar content -->
        </div>
        <div id="content" class="col-xs-9">
          <strong> homepage </strong>
			</br>
			<%= link_to 'Database Listings', '/people' %>
			</br>
			<%= link_to 'Classifier', '/classifier/index' %>
        </div>
      </div>
    </div>
  </body>
</html>
